@import 'tailwindcss';
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  --radius: 0.625rem;
  --background: #ffffff;
  --foreground: #171717;
  --card: #ffffff;
  --card-foreground: #171717;
  --popover: #ffffff;
  --popover-foreground: #171717;
  --primary: #8c61ff;
  --primary-foreground: #ffffff;
  --secondary: #f4f2fa;
  --secondary-foreground: #171717;
  --muted: #dcdae0;
  --muted-foreground: #4c4c4c;
  --accent: #bea6ff;
  --accent-foreground: #382766;
  --destructive: #cc1439;
  --border: #c3c1c7;
  --input: #c3c1c7;
  --ring: #a280ff;
  --chart-1: #397df6;
  --chart-2: #14cc70;
  --chart-3: #d99000;
  --chart-4: #cc1439;
  --chart-5: #8c61ff;
  --sidebar: #f9f7ff;
  --sidebar-foreground: #171717;
  --sidebar-primary: #8c61ff;
  --sidebar-primary-foreground: #ffffff;
  --sidebar-accent: #f4f2fa;
  --sidebar-accent-foreground: #382766;
  --sidebar-border: #dcdae0;
  --sidebar-ring: #a280ff;
  --button-primary-hover: #a280ff;
  --button-primary-active: #704ecc;
  --button-primary-disabled: #382766;
  --button-secondary: #4c4c4c;
  --button-secondary-hover: #808080;
  --button-secondary-active: #333333;
  --button-secondary-disabled: #4c4c4c;
  --button-disabled-foreground: #c3c1c7;
  --button-focus-ring: #2f68cc;
  --button-primary-shadow: 0px 4px 18px 0px rgba(140, 97, 255, 0.35);
  --button-secondary-shadow: 0px 2px 10px 0px rgba(109, 109, 109, 0.25);
  --input-border-default: #c3c1c7;
  --input-border-hover: #808080;
  --input-border-active: #171717;
  --input-border-focus: #2f68cc;
  --input-border-error: #f23d61;
  --input-border-disabled: #c3c1c7;
  --input-text-default: #4c4c4c;
  --input-text-active: #171717;
  --input-text-error: #f23d61;
  --input-text-disabled: #c3c1c7;
  --input-bg-hover: #f4f2fa;
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

.dark {
  --background: #171717;
  --foreground: #f9f7ff;
  --card: #171717;
  --card-foreground: #f9f7ff;
  --popover: #171717;
  --popover-foreground: #f9f7ff;
  --primary: #a280ff;
  --primary-foreground: #171717;
  --secondary: #333333;
  --secondary-foreground: #ffffff;
  --muted: #333333;
  --muted-foreground: #c3c1c7;
  --accent: #4c4c4c;
  --accent-foreground: #f9f7ff;
  --destructive: #f23d61;
  --border: #4c4c4c;
  --input: #4c4c4c;
  --ring: #bea6ff;
  --chart-1: #4c8dff;
  --chart-2: #22e584;
  --chart-3: #e5ac39;
  --chart-4: #ff8099;
  --chart-5: #bea6ff;
  --sidebar: #171717;
  --sidebar-foreground: #f9f7ff;
  --sidebar-primary: #a280ff;
  --sidebar-primary-foreground: #171717;
  --sidebar-accent: #333333;
  --sidebar-accent-foreground: #f9f7ff;
  --sidebar-border: #4c4c4c;
  --sidebar-ring: #bea6ff;
  --button-primary-hover: #a280ff;
  --button-primary-active: #704ecc;
  --button-primary-disabled: #382766;
  --button-secondary: #4c4c4c;
  --button-secondary-hover: #808080;
  --button-secondary-active: #333333;
  --button-secondary-disabled: #4c4c4c;
  --button-disabled-foreground: #c3c1c7;
  --button-focus-ring: #2f68cc;
  --button-primary-shadow: 0px 4px 18px 0px rgba(140, 97, 255, 0.35);
  --button-secondary-shadow: 0px 2px 10px 0px rgba(109, 109, 109, 0.25);
  --input-border-default: #4c4c4c;
  --input-border-hover: #808080;
  --input-border-active: #ffffff;
  --input-border-focus: #2f68cc;
  --input-border-error: #f23d61;
  --input-border-disabled: #4c4c4c;
  --input-text-default: #808080;
  --input-text-active: #ffffff;
  --input-text-error: #f23d61;
  --input-text-disabled: #4c4c4c;
  --input-bg-hover: #171717;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
